table {
   border: black 2px solid;
   border-collapse: collapse;
}

td {
   border: black 2px solid;
   padding: 1em;
}

th {
   border: black 2px solid;
   padding: 1em;
   background-color: aliceblue;

}

tr:nth-child(even) {
   background-color: aliceblue;
}
